body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Đảm bảo form căn giữa theo chiều dọc */
  margin: 0;
}

.login-container {
  margin-bottom: 285px;
  margin-top: 160px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Tạo hiệu ứng đổ bóng */
  width: 100%;
  max-width: 400px; /* Giới hạn chiều rộng của form */
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-container label {
  display: block; /* Đặt nhãn trên một dòng riêng */
  margin-bottom: 8px;
  color: #555;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: calc(100% - 20px); /* Đảm bảo input chiếm toàn bộ chiều rộng, trừ padding */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-container button {
  background-color: #d45d7a; /* Màu xanh dương cho nút đăng nhập */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; /* Biến con trỏ thành biểu tượng bàn tay khi di chuột qua */
  width: 100%;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #d45d7ba3; /* Đổi màu khi di chuột qua */
}
.login-container button:active{
  background-color: #d45d7b76;
}

.login-container .register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.login-container .register-link a {
  color: #eabc3f; /* Màu xanh lá cây cho liên kết đăng ký */
  text-decoration: none; /* Bỏ gạch chân dưới liên kết */
}

.login-container .register-link a:hover {
  text-decoration: underline; /* Thêm gạch chân khi di chuột qua */
}

.login-error{
  color: red;
  margin-bottom: 10px;
  display: none;
}
